
/ {
	lcd_bl: lcd_bl {
		compatible = "lcd-backlight";
                /* using built-in LED pin for demonstration */
		gpios = <&gpiob 0 GPIO_ACTIVE_LOW>;
	};
	buzzer: buzzer {
		compatible = "buzzer";
                /* using built-in LED pin for demonstration */
		gpios = <&gpioa 11 GPIO_ACTIVE_LOW>;
	};
};